RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]



#Para nao permitir o acesso ao ficheiro .htaccess vamos colocar com permissao:644. E, adicionar o seguinte:
#<Files .htaccess>
#order allow,deny
#deny from all
#</Files>

#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L]

#Nao permitir o Directory Listing:
#Options -Indexes
